# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Logs
logs/*.log
logs/*.tmp

# IDE/editor settings
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
